body{
    color:white;
    background: pink;
}

.heading {
    width: 80%;
    font-size: 22px;

}

.name_of_members, #result_members_accurasy, #result_members_name{
    color: yellow;

}

#camera {
    border: 2px dashed black;
    width:350px;
    height:300px;
    
}